html {
    font-size: 14px;
}

body {
    background-image: url('../img/bg.png');
}

/*** Resets ***/
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.5rem;
}

h4, h5, h6 {
    font-size: 2.2rem;
}
/*** End Resets ***/

/*** Helpers ***/
.p-large {
    font-size: 1.5rem;
}
/*** End Helpers ***/

#landing {
    height: 100vh;
}

.avatar {
    text-align: center;
    margin-bottom: 15px;
}

.avatar img {
    height: 150px;
    border: 2px solid #808080;
    border-radius: 100%;
}

.name {
    font-weight: bold;
    color: #606060;
}


/*** Social Icons ***/

.social-icons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-icons a {
    font-size: 22px;
    padding-right: 4px;
    padding-left: 4px;
}

.fa-twitter {
    color: #55acee;
}

.fa-facebook {
    color: #3b5998;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-instagram {
    color: #125688
}

.fa-skype {
    color: #12a5f4;
}

.fa-github {
    color: #000000;
}

.fa-behance {
    color: #1769ff
}

.fa:hover {
    font-size: 120%;
    text-decoration: underline;
}

/*** Navigation ***/
#navigation {
    margin-bottom: 1.4rem;
}
/** End Nabivation ***/

/*** Page Title ***/
#page-title h1 {
    margin-bottom: 1rem;
}
/*** End Page Title ***/

/*** Content ***/
#content {
    background: #fff;
    padding: 20px 15px;
}
/*** End Content ***/

.not-found h1 {
    font-size: 120px;
    font-weight: bold;
    color: #606060;
}

.not-found p {
    font-size: 24px;
    margin-bottom: 15px;
}
